html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  font-family: arial,sans-serif;;
  font-size: 12pt;
}

.nav {
    float: right; 
    padding-top: 5px;
    display: grid;
    grid-template-columns: 50px, 50px, 15px, 15px, 15px;
    align-items: center;
    grid-gap: 2px;
}
.languages a {
    color: gray;
}
.second a {
    color: black;
}
 .nav img{
    
    width: 20px;
    margin: 0 auto;
    background-color: gray;
    padding: 0 auto;
}
.notifications img {
    border-radius: 50%;
}

.nav img:hover {
background-color: black;
}
.words {
    grid-column: 1 / 2;
    margin: 0 auto;
}
.words a {
    padding: 2px;
}
.bricks {
    grid-column: 2 / 3;
}

.notifications {
    grid-column: 3 / 4;
}

.userpic {
    grid-column: 4 / 5;
}

.bricks, .userpic, .notifications, .words {
    /*border: 1px solid red; */
    margin: 0 auto;
    padding: 10px;
}

.search-wrap {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 50px;
    justify-content: center;
}

.gogl{
    width: 300px;
    /*border: 1px red solid;*/
    padding: 10px;
    
}
.search{
    
    /*border: 1px red solid;*/
    position: relative;
    
}
.search input {
  /*  position: absolute;*/
  
      width: 500px;
    height: 40px;
    margin: 0;
    border: 1px lightgray solid;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);  
}
.mic {
    width: 15px;
    position: absolute;
    right: 35px;
    top: 12px;
}

.languages {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 30px;
    align-items: center;
    justify-items: center;
    margin-top: 25px;
    grid-row-gap: 20px;
justify-content: center;
}

.gogsearch {
grid-column: 1 / 2;
grid-row: 1 / 2;
background-color: #f2f2f2;
align-self: center;
justify-self: center;
height: 30px;
color: gray;
border: 1px solid #f2f2f2;
    color: #757575;
    font-weight: bold;
}

.lucky {
grid-column: 2 / 3;
grid-row: 1 / 2;
background-color:  #f2f2f2;
align-self: center;
justify-self: center;
height: 30px;
color: gray;
border: 1px solid #f2f2f2;
    color: #757575;
    font-weight: bold;
}

button:hover {
    border: 1px solid gray;
    color: black;
}

.lang {
grid-column: 1 / 3;
grid-row: 2 / 3;
}

.first, .second {
    background-color: #f2f2f2;
    border: 0.2px rgba(0,0,0,0.1) solid;
    height: 40px;
  }
  
  .footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
     
  }
  .second {
    display: grid;
    grid-template-columns: 1fr 500px  1fr;
    
    
  }
  .first p {
    margin: 10px;
    margin-left: 25px;
    color:rgba(0,0,0,.54);
  }
  .left {
    grid-column: 1 / 2;
    justify-self: left;
    align-self: center;
    margin: 10px;
    margin-left: 25px;
  }
  a {
    margin-right: 20px;
  }
  
  a:link{
    color: rgba(0,0,0,.54);
    text-decoration:none; 
  }
  a:hover {
    text-decoration: underline;
  }
  .right {
    grid-column: 3 / 4;
    justify-self: right;
    margin-right: 25px;
  }
  .second p {
    display: inline;
    
  }